@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 { perspective: 1000px; }
  .transform-style-3d { transform-style: preserve-3d; }
  .backface-hidden { backface-visibility: hidden; }
  .rotate-y-180 { transform: rotateY(180deg); }
  
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

body { font-family: 'Inter', sans-serif; }
.cyrillic { font-family: 'Noto Sans', sans-serif; }
